<li>
	{{name}}

	<button class="change-devoured btn btn-primary btn-lg" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour It!!{{else}}REORDER{{/if}}
	</button>

	<button class = "delete-burger"  data-id="{{this.id}}"><i class="fa fa-trash" aria-hidden="true"></i></button>
</li>
