<li class="list-group-item list-group-item-warning">
		{{name}}
	<br>
	<button class="change-devoured btn btn-warning" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour It!!{{else}}REORDER{{/if}}
	</button>


	<!--<button class = "delete-burger"  data-id="{{this.id}}"><i class="fa fa-trash" aria-hidden="true"></i></button> -->
</li>